@using Outsourcing.Data.Models
@using Labixa.ViewModels
@{
    ViewBag.Title = "CheckoutWithOutMomo";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ShopFormModel shopFormModel = ViewBag.shopFormModel;
    string mess = ViewBag.mess;
}

<h2 style="text-align:center; margin-top: 20px">@mess</h2>

